
@{
    ViewData["Title"] = "Korona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">

    <style>
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/PostsGallery/korona2.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title"><strong>Aşılı olmak koronavirüsü taşımadığımız anlamına gelmiyor</strong></h5>
                        <p class="card-text">
                            Ordu Üniversitesi Tıp Fakültesi Aile Hekimliği Anabilim Dalı Başkanı Prof. Dr. Özgür Enginyurt, kış aylarında koronavirüs vakalarının yükseldiğini belirterek, “Kapalı ortamlardan uzak durmalıyız. Özellikle aşılı olan insanlarda özgüven var, aşılı olmak virüsü taşımadığımız anlamına gelmiyor” dedi
                        </p>

                        <a href="#" class="btn btn-outline-primary btn-sm">
                            haber
                        </a>
                        <a href="#" class="btn btn-outline-secondary btn-sm">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/PostsGallery/korona.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title"><strong>Korona Virüs (24.12.2021)</strong></h5>
                        <p class="card-text">
                            Son dakika... Sağlık Bakanlığı yeni tabloyu paylaştı. Buna göre Türkiye'de son 24 saatte 18 bin 771 kişinin testi pozitif çıktı, 168 kişi ise yaşamını yitirdi
                        </p>

                        <a href="#" class="btn btn-outline-primary btn-sm">
                            haber
                        </a>
                        <a href="#" class="btn btn-outline-secondary btn-sm">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

