
@{
    ViewData["Title"] = "Sport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">

    <style>
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/PostsGallery/larin.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title"><strong>Beşiktaşlı Larin'den müthiş geri dönüş!</strong></h5>
                        <p class="card-text">
                            021 yılında iç sahada 20 maçta 18 gole direkt katkı yaptı. 14 gol atıp, 4 asist gerçekleştiren Larin, Süper Lig’de bu sezonki gol sayısını 6’ya yükseltti.
                        </p>

                        <a href="#" class="btn btn-outline-primary btn-sm">
                            haber
                        </a>
                        <a href="#" class="btn btn-outline-secondary btn-sm">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="~/images/PostsGallery/Shaquille.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title"><strong> NBA efsanesi Shaquille O'Neal</strong></h5>
                        <p class="card-text">
                            NBA efsanesi Shaquille O'Neal, eski NBA yıldzı lamar odoma karşı boks maçı yapması için kendisine 2.5 milyon dolar teklif edildiğini söyledi.
                        </p>

                        <a href="#" class="btn btn-outline-primary btn-sm">
                            haber
                        </a>
                        <a href="#" class="btn btn-outline-secondary btn-sm">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


